<div class="backdrop-note is-hidden">
    <div class="modal-note">
      <button class="button-close" data-modal-close>
          <span class="material-symbols-outlined">close</span>
      </button>
      <div class="note-form">
        <fieldset>
            <legend>Create new note</legend>
            <label class="note-form-label" for="note-name">Name<input name="note-name" type="text"></label>
            <label class="note-form-label" for="note-date">Date<input name="note-date" type="date"></label>
            
            <label class="note-form-label" for="note-category">Category
                <select name="note-category" id="note-category">
                    <option value="Task" selected>Task</option>
                    <option value="Random Thought">Random Thought</option>
                    <option value="Idea">Idea</option>
                    <option value="Quote" disabled>Quote</option>   
                </select>
            </label>
            
            <label class="note-form-label" for="note-content">Content<input name="note-content" type="text"></label>
            
        </fieldset>
      </div>
    </div>
  </div>